@charset "UTF-8";
/* Цвет Текста */
/* Основные цвета сайта */
/* line 1, ../../../../Portfolio/sass/base/_base.sass */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../../../../Portfolio/sass/base/_base.sass */
html {
  font-size: 100%;
}

@media (max-width: 1200px) {
  /* line 6, ../../../../Portfolio/sass/base/_base.sass */
  html {
    font-size: 80%;
  }
}

@media (max-width: 900px) {
  /* line 6, ../../../../Portfolio/sass/base/_base.sass */
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  /* line 6, ../../../../Portfolio/sass/base/_base.sass */
  html {
    font-size: 50%;
  }
}

@media (max-width: 639px) and (min-width: 320px) {
  /* line 6, ../../../../Portfolio/sass/base/_base.sass */
  html {
    font-size: 40%;
  }
}

@media (min-width: 1800px) {
  /* line 6, ../../../../Portfolio/sass/base/_base.sass */
  html {
    font-size: 100%;
  }
}

/* line 20, ../../../../Portfolio/sass/base/_base.sass */
.container {
  background: #FFF;
  max-width: 100vw;
}

/* line 23, ../../../../Portfolio/sass/base/_base.sass */
.color-purl {
  color: #8E2DE2;
}

/* line 1, ../../../../Portfolio/sass/base/_typography.sass */
.body {
  font-family: Montserrat sans-serif;
  font-weight: 600;
  color: #A9A9AA;
  letter-spacing: -0.028rem;
  text-transform: uppercase;
}

/* line 9, ../../../../Portfolio/sass/base/_typography.sass */
.section-about__background-text {
  color: #FFF;
  font-family: Anton;
  font-size: 10rem;
  opacity: 0.07;
  text-transform: uppercase;
  transform: skewY(-5deg) rotate(-15deg) scale(1.5);
  position: absolute;
  top: 10rem;
  left: 20rem;
  text-shadow: #FFF 1px 0 10px;
  z-index: 3;
}

/* line 1, ../../../../Portfolio/sass/components/_button.sass */
.btn {
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  border: 0.1rem #8E2DE2 solid;
  text-decoration: none;
  color: #8E2DE2;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
}

/* line 11, ../../../../Portfolio/sass/components/_button.sass */
.btn:hover {
  box-shadow: 0px 0px 18px 8px #8E2DE2;
  transform: scale(1.2);
  transition: 0.3s all;
}

/* line 15, ../../../../Portfolio/sass/components/_button.sass */
.btn__purl {
  background: #8E2DE2;
  color: #FFF;
}

/* line 1, ../../../../Portfolio/sass/components/_cards.sass */
.service {
  width: 80rem;
  height: 20rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}

/* line 10, ../../../../Portfolio/sass/components/_cards.sass */
.cards {
  width: 15rem;
  height: 19rem;
  background: #F7F7F7;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
}

/* line 17, ../../../../Portfolio/sass/components/_cards.sass */
.cards:hover {
  background-color: #111214;
  color: #FFF;
  box-shadow: 0px 0px 18px 8px #8E2DE2;
  transition: 0.7s;
}

/* line 22, ../../../../Portfolio/sass/components/_cards.sass */
.cards i {
  font-size: 2.1rem;
  margin: 1.3rem 0;
}

/* line 25, ../../../../Portfolio/sass/components/_cards.sass */
.cards__title {
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 1rem;
}

/* line 31, ../../../../Portfolio/sass/components/_cards.sass */
.cards__text {
  font-size: 0.8rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.6rem;
  color: #A9A9AA;
}

/* line 1, ../../../../Portfolio/sass/components/_form.sass */
.book {
  width: 41rem;
  height: 29rem;
  box-shadow: 0px 0px 18px 3px #8E2DE2;
  border-radius: 5%;
  padding: 1rem;
  display: none;
}

/* line 11, ../../../../Portfolio/sass/components/_form.sass */
.box-name {
  display: flex;
  justify-content: space-between;
}

/* line 15, ../../../../Portfolio/sass/components/_form.sass */
.form-title {
  color: #FFF;
  font-size: 1.3rem;
  font-family: Anton;
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
}

/* line 22, ../../../../Portfolio/sass/components/_form.sass */
.form-title span {
  color: #8E2DE2;
}

/* line 27, ../../../../Portfolio/sass/components/_form.sass */
.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

/* line 31, ../../../../Portfolio/sass/components/_form.sass */
.form__box-title {
  box-sizing: border-box;
  width: 100%;
}

/* line 34, ../../../../Portfolio/sass/components/_form.sass */
.form__input {
  width: 19rem;
  height: 3rem;
  color: #FFF;
  background: rgba(202, 205, 209, 0.1);
}

/* line 39, ../../../../Portfolio/sass/components/_form.sass */
.form__label {
  color: #FFF;
  margin-bottom: 1rem;
}

/* line 42, ../../../../Portfolio/sass/components/_form.sass */
.form__text {
  display: flex;
  flex-direction: column;
}

/* line 45, ../../../../Portfolio/sass/components/_form.sass */
.form__input-text {
  box-sizing: border-box;
  width: 39rem;
  height: 7rem;
  color: #FFF;
  background: rgba(202, 205, 209, 0.1);
}

/* line 1, ../../../../Portfolio/sass/layout/_footer.sass */
.footer {
  width: 100vw;
  height: 37rem;
  background: #111214;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

/* line 9, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__box {
  margin-bottom: 2rem;
  display: flex;
}

/* line 12, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__box i {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.5rem;
}

/* line 17, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__contacts {
  width: 24rem;
  height: 31rem;
  padding: 2rem 3rem;
}

/* line 22, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__title {
  color: #FFF;
  font-size: 2.5rem;
  font-family: Anton;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/* line 30, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__title span {
  color: #8E2DE2;
  font-size: 4rem;
  font-family: Anton;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* line 37, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__text {
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 1rem;
}

/* line 44, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__phone a {
  text-decoration: none;
  color: #A9A9AA;
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 500;
}

/* line 50, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__media {
  display: flex;
  justify-content: center;
}

/* line 54, ../../../../Portfolio/sass/layout/_footer.sass */
.footer__fill {
  background: #A9A9AA;
  width: 41rem;
  height: 29rem;
  margin-top: 2rem;
}

/* line 1, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111214;
  height: 7rem;
}

@media (max-width: 639px) and (min-width: 320px) {
  /* line 1, ../../../../Portfolio/sass/layout/_navigation.sass */
  .navigation {
    display: flex;
    justify-content: end;
    flex-direction: row-reverse;
    position: relative;
  }
}

/* line 12, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__nav-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

@media (max-width: 639px) and (min-width: 320px) {
  /* line 12, ../../../../Portfolio/sass/layout/_navigation.sass */
  .navigation__nav-burger {
    display: flex;
    position: fixed;
    top: 1rem;
    right: 5rem;
    z-index: 30;
  }
}

/* line 23, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10rem;
  transition: .5s all;
}

@media (max-width: 639px) and (min-width: 320px) {
  /* line 23, ../../../../Portfolio/sass/layout/_navigation.sass */
  .navigation__nav {
    background: #FFF;
    position: fixed;
    margin-right: 0;
    right: -100%;
    top: 40px;
    z-index: 30;
  }
  /* line 36, ../../../../Portfolio/sass/layout/_navigation.sass */
  .navigation__nav_active {
    background: #FFF;
    position: fixed;
    margin-right: 0;
    top: 40px;
    z-index: 30;
    right: 3px;
  }
}

/* line 43, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__list {
  display: flex;
  justify-content: center;
}

@media (max-width: 639px) and (min-width: 320px) {
  /* line 43, ../../../../Portfolio/sass/layout/_navigation.sass */
  .navigation__list {
    display: block;
    width: 330px;
    height: 200px;
    text-align: center;
  }
}

/* line 51, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__item {
  list-style-type: none;
}

/* line 53, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__item:not(:last-child) {
  margin-right: 5.4rem;
}

/* line 55, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__item:hover {
  box-shadow: 0px 0px 18px 8px #8E2DE2;
  transform: scale(1.2);
  transition: 0.3s all;
}

@media (max-width: 639px) and (min-width: 320px) {
  /* line 60, ../../../../Portfolio/sass/layout/_navigation.sass */
  .navigation__item:not(:last-child) {
    margin: 30px 0;
  }
}

/* line 62, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__link {
  text-decoration: none;
  font-family: Montserrat;
  color: #A9A9AA;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

/* line 69, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 639px) and (min-width: 320px) {
  /* line 69, ../../../../Portfolio/sass/layout/_navigation.sass */
  .navigation__button {
    position: fixed;
    z-index: 30;
    top: 1.5rem;
    right: 13rem;
  }
}

/* line 80, ../../../../Portfolio/sass/layout/_navigation.sass */
.hamburger {
  position: relative;
  border: 40rem;
  border-radius: 50rem;
  background: #A9A9AA;
  height: 30px;
  width: 30px;
}

/* line 87, ../../../../Portfolio/sass/layout/_navigation.sass */
.hamburger span {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #111214;
  top: 14px;
  left: 5px;
  transition: .4s all;
}

/* line 95, ../../../../Portfolio/sass/layout/_navigation.sass */
.hamburger span:nth-child(1) {
  transform: translateY(5px);
}

/* line 97, ../../../../Portfolio/sass/layout/_navigation.sass */
.hamburger span:nth-child(3) {
  transform: translateY(-5px);
}

@media (max-width: 639px) and (min-width: 320px) {
  /* line 101, ../../../../Portfolio/sass/layout/_navigation.sass */
  .hamburger_active span {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #111214;
    top: 14px;
    left: 5px;
  }
  /* line 108, ../../../../Portfolio/sass/layout/_navigation.sass */
  .hamburger_active span:nth-child(1) {
    transform: translateY(1px) rotate(-45deg);
  }
  /* line 110, ../../../../Portfolio/sass/layout/_navigation.sass */
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  /* line 112, ../../../../Portfolio/sass/layout/_navigation.sass */
  .hamburger_active span:nth-child(3) {
    transform: translateY(1px) rotate(45deg);
  }
}

/* Главная Страница */
/* line 2, ../../../../Portfolio/sass/layout/_home.sass */
.section-about {
  position: relative;
  width: 100vw;
  height: 45rem;
  background: #111214;
}

/* line 7, ../../../../Portfolio/sass/layout/_home.sass */
.section-about__img {
  position: absolute;
  width: 30rem;
  height: 40rem;
  background: linear-gradient(0deg, rgba(169, 169, 170, 0.1) 0.1%, rgba(17, 18, 20, 0.1) 99.94%), url(../img/Lolly.JPG) center/contain no-repeat;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  top: 2rem;
  left: 40rem;
  z-index: 7;
}

/* line 16, ../../../../Portfolio/sass/layout/_home.sass */
.section-about__left {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 10rem;
  left: 5rem;
}

/* line 23, ../../../../Portfolio/sass/layout/_home.sass */
.title {
  z-index: 15;
}

/* line 25, ../../../../Portfolio/sass/layout/_home.sass */
.title__text {
  color: #FFF;
  font-size: 7rem;
  font-family: Anton;
  letter-spacing: .19rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

/* line 32, ../../../../Portfolio/sass/layout/_home.sass */
.title__text-one {
  color: #FFF;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.2rem;
}

/* line 40, ../../../../Portfolio/sass/layout/_home.sass */
.media {
  display: flex;
  position: absolute;
  top: 15rem;
  left: 20rem;
}

/* line 45, ../../../../Portfolio/sass/layout/_home.sass */
.media__link {
  border-radius: 20%;
  box-shadow: 0px 0px 10px 1px #8E2DE2;
}

/* line 48, ../../../../Portfolio/sass/layout/_home.sass */
.media__link:not(.media__link:last-child) {
  margin-right: 5rem;
}

/* line 50, ../../../../Portfolio/sass/layout/_home.sass */
.media__link:hover {
  box-shadow: 0px 0px 18px 8px #8E2DE2;
  transform: scale(1.2);
  transition: 0.3s all;
}

/* line 54, ../../../../Portfolio/sass/layout/_home.sass */
.media__imag {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}

/* Секция About Me */
/* line 61, ../../../../Portfolio/sass/layout/_home.sass */
.about-me {
  height: 40rem;
  display: flex;
  justify-content: space-around;
  position: relative;
}

/* line 66, ../../../../Portfolio/sass/layout/_home.sass */
.about-me__box {
  width: 40rem;
}

/* line 68, ../../../../Portfolio/sass/layout/_home.sass */
.about-me__about {
  color: #111214;
  font-size: 4rem;
  font-family: Anton;
  font-weight: 400;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  position: absolute;
  top: 4rem;
  left: 47rem;
}

/* line 78, ../../../../Portfolio/sass/layout/_home.sass */
.about-me__about span {
  color: #8E2DE2;
  font-size: 6rem;
}

/* line 81, ../../../../Portfolio/sass/layout/_home.sass */
.about-me__text {
  color: #A9A9AA;
  box-sizing: border-box;
  width: 29rem;
  font-size: 0.9rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 2rem;
  position: absolute;
  top: 14rem;
  left: 51rem;
}

/* line 92, ../../../../Portfolio/sass/layout/_home.sass */
.experience {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
}

/* line 97, ../../../../Portfolio/sass/layout/_home.sass */
.experience__one {
  top: 7rem;
  left: 7rem;
  position: absolute;
}

/* line 101, ../../../../Portfolio/sass/layout/_home.sass */
.experience__two {
  top: 10rem;
  left: 25rem;
  position: absolute;
}

/* line 105, ../../../../Portfolio/sass/layout/_home.sass */
.experience__text {
  color: #111214;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.56px;
}

/* line 112, ../../../../Portfolio/sass/layout/_home.sass */
.experience__numb {
  margin: 0;
  color: #8E2DE2;
  font-size: 4rem;
  text-align: right;
  font-family: Anton;
  font-weight: 400;
  letter-spacing: 0.128rem;
  text-transform: uppercase;
}

/* line 121, ../../../../Portfolio/sass/layout/_home.sass */
.experience__photo {
  width: 13rem;
  height: 15rem;
}

/* line 126, ../../../../Portfolio/sass/layout/_home.sass */
.text-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */