@charset "UTF-8";
/* Цвет Текста */
/* Основные цвета сайта */
/* line 1, ../../../../Portfolio/sass/base/_base.sass */
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../../../../Portfolio/sass/base/_base.sass */
.container {
  background: #FFF;
  max-width: 114rem;
}

/* line 9, ../../../../Portfolio/sass/base/_base.sass */
.color-purl {
  color: #8E2DE2;
}

/* line 1, ../../../../Portfolio/sass/base/_typography.sass */
.body {
  font-family: Montserrat sans-serif;
  font-weight: 600;
  color: #A9A9AA;
  letter-spacing: -0.028rem;
  text-transform: uppercase;
}

/* line 9, ../../../../Portfolio/sass/base/_typography.sass */
.section-about__background-text {
  color: #FFF;
  font-family: Anton;
  font-size: 10rem;
  opacity: 0.07;
  text-transform: uppercase;
  transform: skewY(-5deg) rotate(-15deg) scale(1.5);
  position: absolute;
  top: 10rem;
  left: 20rem;
  text-shadow: #FFF 1px 0 10px;
  z-index: 3;
}

/* .background
    z-index: 0
    position: absolute
    &__line1
        height: 5rem
        background: $color-white

        transform: rotate(110deg)
        opacity: 0.04

    &__line2
        height: 5rem
        background: $color-white
        transform: rotate(120deg)
        opacity: 0.01
    &__line3
        height: 5rem
        background: $color-white
        transform: rotate(130deg)
        opacity: 0.03 */
/* transform: rotate(110deg) scale(1.5) */
/* line 1, ../../../../Portfolio/sass/components/_button.sass */
.btn {
  font-size: 1.2rem;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  border: 0.1rem #8E2DE2 solid;
  text-decoration: none;
  color: #8E2DE2;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
}

/* line 11, ../../../../Portfolio/sass/components/_button.sass */
.btn:hover {
  box-shadow: 0px 0px 18px 8px #8E2DE2;
  transform: scale(1.2);
  transition: 0.3s all;
}

/* line 15, ../../../../Portfolio/sass/components/_button.sass */
.btn__purl {
  background: #8E2DE2;
  color: #FFF;
}

/* line 1, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 5rem;
  background: #111214;
}

/* line 6, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 10, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 14, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__list {
  display: flex;
  justify-content: center;
}

/* line 17, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__item {
  list-style-type: none;
}

/* line 19, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__item:not(:last-child) {
  margin-right: 5.4rem;
}

/* line 21, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__item:hover {
  box-shadow: 0px 0px 18px 8px #8E2DE2;
  transform: scale(1.2);
  transition: 0.3s all;
}

/* line 25, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__link {
  text-decoration: none;
  font-family: Montserrat;
  color: #A9A9AA;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.2rem;
}

/* line 32, ../../../../Portfolio/sass/layout/_navigation.sass */
.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 37, ../../../../Portfolio/sass/layout/_navigation.sass */
.header-logo {
  text-decoration: none;
  font-family: Anton sans-serif;
  font-size: 2.8rem;
  background-color: #A9A9AA;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background-image: linear-gradient(125deg, #a34aff 0%, #470b47 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Главная Страница */
/* line 2, ../../../../Portfolio/sass/layout/_home.sass */
.section-about {
  position: relative;
  height: 45rem;
  background: #111214;
}

/* line 6, ../../../../Portfolio/sass/layout/_home.sass */
.section-about__img {
  position: absolute;
  width: 30rem;
  height: 40rem;
  background: linear-gradient(0deg, rgba(169, 169, 170, 0.1) 0.1%, rgba(17, 18, 20, 0.1) 99.94%), url(../img/Lolly.JPG) center/contain no-repeat;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  top: 2rem;
  left: 40rem;
  z-index: 7;
}

/* line 15, ../../../../Portfolio/sass/layout/_home.sass */
.section-about__left {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 10rem;
  left: 5rem;
}

/* line 22, ../../../../Portfolio/sass/layout/_home.sass */
.title {
  z-index: 15;
}

/* line 24, ../../../../Portfolio/sass/layout/_home.sass */
.title__text {
  color: #FFF;
  font-size: 7rem;
  font-family: Anton;
  letter-spacing: .19rem;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

/* line 31, ../../../../Portfolio/sass/layout/_home.sass */
.title__text-one {
  color: #FFF;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.2rem;
}

/* line 39, ../../../../Portfolio/sass/layout/_home.sass */
.media {
  display: flex;
  position: absolute;
  top: 15rem;
  left: 20rem;
}

/* line 44, ../../../../Portfolio/sass/layout/_home.sass */
.media__link {
  box-shadow: 0px 0px 10px 1px #8E2DE2;
}

/* line 46, ../../../../Portfolio/sass/layout/_home.sass */
.media__link:not(.media__link:last-child) {
  margin-right: 5rem;
}

/* line 48, ../../../../Portfolio/sass/layout/_home.sass */
.media__link:hover {
  box-shadow: 0px 0px 18px 8px #8E2DE2;
  transform: scale(1.2);
  transition: 0.3s all;
}

/* line 52, ../../../../Portfolio/sass/layout/_home.sass */
.media__imag {
  width: 2.5rem;
  height: 2.5rem;
}

/* Секция About Me */
/* line 58, ../../../../Portfolio/sass/layout/_home.sass */
.about-me {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  position: relative;
}

/* line 63, ../../../../Portfolio/sass/layout/_home.sass */
.about-me__box {
  width: 40rem;
}

/* line 65, ../../../../Portfolio/sass/layout/_home.sass */
.about-me__about {
  color: #111214;
  font-size: 4rem;
  font-family: Anton;
  font-weight: 400;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  position: absolute;
  top: 4rem;
  left: 47rem;
}

/* line 75, ../../../../Portfolio/sass/layout/_home.sass */
.about-me__about span {
  color: #8E2DE2;
  font-size: 6rem;
}

/* line 78, ../../../../Portfolio/sass/layout/_home.sass */
.about-me__text {
  color: #A9A9AA;
  box-sizing: border-box;
  width: 29rem;
  font-size: 0.9rem;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 2rem;
  position: absolute;
  top: 14rem;
  left: 51rem;
}

/* line 89, ../../../../Portfolio/sass/layout/_home.sass */
.experience {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40rem;
}

/* line 94, ../../../../Portfolio/sass/layout/_home.sass */
.experience__one {
  top: 7rem;
  left: 7rem;
  position: absolute;
}

/* line 98, ../../../../Portfolio/sass/layout/_home.sass */
.experience__two {
  top: 10rem;
  left: 25rem;
  position: absolute;
}

/* line 102, ../../../../Portfolio/sass/layout/_home.sass */
.experience__text {
  color: #111214;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: -0.56px;
}

/* line 109, ../../../../Portfolio/sass/layout/_home.sass */
.experience__numb {
  margin: 0;
  color: #8E2DE2;
  font-size: 4rem;
  text-align: right;
  font-family: Anton;
  font-weight: 400;
  letter-spacing: 0.128rem;
  text-transform: uppercase;
}

/* line 118, ../../../../Portfolio/sass/layout/_home.sass */
.experience__photo {
  width: 13rem;
  height: 15rem;
}

/* line 123, ../../../../Portfolio/sass/layout/_home.sass */
.text-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */